.pageContainer {
  height: calc(100vh - var(--navbar-height--));
  max-height: calc(100vh - var(--navbar-height--));
  display: flex;
  flex-direction: row;
}
.pageContainer ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.pageContainer ::-webkit-scrollbar-track {
  width: 1px;
  background: transparent;
}
.pageContainer ::-webkit-scrollbar-thumb {
  background: var(--page-scrollbar-color--);
  border-radius: 20px;
}
.pageContainer ::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
  background-color: var(--page-scrollbar-color-hover--);
}

.navMenu {
  width: var(--sidebar-width--);
  min-width: var(--sidebar-width--);
}

.page {
  flex-grow: 1;
  max-height: calc(100vh - var(--navbar-height--));
  overflow: auto;
}

@media only screen and (min-width: 767px) and (min-height: 500px) {
  .navMenu {
    overflow: hidden;
    padding: 10px;
    background-color: #E3E3E3;
    font-size: 0.75rem;
    z-index: 100;
  }
}
@media only screen and (max-width: 767px), (max-height: 499px) {
  .navMenu {
    width: var(--sidebar-mobile-width--);
    position: absolute;
    top: var(--navbar-height--);
    left: 0;
    height: calc(100vh - var(--navbar-height--));
    z-index: 100;
    transition: left 0.3s ease;
    background-color: var(--blue-theme-color--);
  }
  .retractedMenu {
    left: calc(0px - var(--sidebar-mobile-width--));
  }
}