.message{
  display: flex;
  padding: 7px 20px;
  width: 100%;
  color: white;
}

.message.left{
  justify-content: flex-start;
}

.message.right{
  justify-content: flex-end;
}

.message .bubble{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  position:relative;
  max-width: 70%;
}

.message.left .bubble{
  background-color: #2e333d;
}

.message.right .bubble{
  background-color: #6b8afd;
}

.message.left.triangle .bubble::after{
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: 0; 
  height: 0; 
  border-bottom: 35px solid transparent;
  border-right: 20px solid #2e333d;
}
.message.right.triangle .bubble::after{
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  width: 0; 
  height: 0; 
  border-bottom: 35px solid transparent;
  border-left: 20px solid #6b8afd;
}

.messageText{
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.imageMessage{
  max-height: 50vh;
  max-width: 100%;
}
.user{
  font-weight: bold;
  font-size: 18px;
}

.messageFooter{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 7px;
}

.time{
  font-size: 13px;
  font-weight: bold;
}

.checkIcon{
  font-size: 17px;
}

.checkIcon.viewed{
  color: blue;
}